.project
.classpath
/.apt_generated/
/.factorypath
/.settings
*.iml
.vscode/

**/node/
**/node_modules/
.idea/
.DS_Store
/src/main/resources/static/
.history/
coverage/

#Package lock to be upgraded only if required or at intervals
package-lock.json

# CodeSight and Coverity
/.synopsys